.realtors {
    background: $color-secondary;
    grid-column: col-start 7 / full-end;

    display: grid;
    grid-template-rows: max-content max-content;
    align-content: center;
    justify-content: center;
    grid-row-gap: 2vh;
    justify-items: center;

    @media only screen and (max-width: $bp-md) {
      grid-column: 1 / -1;
      padding: 4rem 0;
     }

    &__list{
        display: grid;
        grid-template-columns: min-content max-content;
        align-items: center;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;

        @media only screen and (max-width: $bp-md) {
            grid-template-columns: repeat(3, min-content max-content);
         }

         @media only screen and (max-width: $bp-sm) {
            grid-template-columns: min-content max-content;
        }
    }
    &__img{
        width: 7.5rem;
        border-radius: 50%;
    }
    &__details{
        color: $color-grey-light-1;
    }
    &__sold{
        margin-top: -3px;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $color-grey-light-2;
    }
}